* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

body {
    direction: rtl;
}

.columns {
    background: gray;
}

.column {
    background: gray;
}


.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
}

.time {
    border: 1px solid white;
    display: flex;
}

.names {
    border: 1px solid white;
    display: flex;
}

.names h3 {
    width: 100%;
    font-size: 4vw;
}

.logos {
    border: 1px solid white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logos img {
    width: 60px;
    height: auto;
}

.league {
    border: 1px solid white;
}

#dash {
    font-size: 50px;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    /* image-rendering: pixelated; */
}


