* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

body {
    direction: rtl;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 10px;
    width: 100%;
    background: #F0F1FA;
}

.time {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.time span {
    white-space: nowrap;
}

.names {
    display: flex;
    align-items: center;
    justify-content: center;
}

.names span {
    margin: 5px;
}

.logos {
    display: flex;
    max-width: 15%;
    align-items: center;
    justify-content: center;
}

.logos img {
    max-width: 100%;
    height: auto;
    padding: 0 5px;
    margin-bottom: 10px;
}

.league {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#dash {
    font-size: 50px;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    /* image-rendering: pixelated; */
}


#vs {
    text-align: justify;
}